<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="header">
      <h1><%= title %></h1>
        <% if (!user) {%>
          <div class='rightSide'>
            <a href="/log-in">Log In</a>
            <a href="/sign-up">Register</a>
          </div>
        <% } else { %>
          <div class='rightSide'>
            <p>Hello, <%= user.full_name %> </p>
            <% if (!user.membership_status || !user.admin_status) {%>
              <a href='/request-membership'>Request Membership</a>
            <%}%>
            <% if (!user.admin_status) {%>
              <a href='/request-admin'>Request Admin</a>
            <%}%>
            <a href="/log-out">Log out</a>
          </div>
        <%}%>
    </div>
    <h1>Please log in</h1>
    <form action="/log-in" method="POST">
      <label for="username">Username</label>
      <input name="username" placeholder="username" type="text" />
      <label for="password">Password</label>
      <input name="password" type="password" />
      <button>Log In</button>
    </form>
  </body>
</html>